<h1>Enter a number to discover its sound</h1>

<%= form_tag pages_resp_path, method: :post do %>
  <div class="">
    <label for="num">Number</label>
    <input type="number" name="num" value=""/>
  </div>

  <br>
  <button type="submit" name="name" value="">Submit</button>
<% end %>
